<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Funny Videos', root_path, class: 'navbar-brand' %>
        </div>
        <ul class="nav navbar-nav pull-right">
          <% if current_user %>
            <li><%= link_to "Welcome #{current_user.email}", 'javascript:void(0);' %></li>
            <li><%= link_to 'Share a movie', new_video_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <div style="margin-top: 1.5%">
              <%= form_for User.new, url: user_session_path do |f| %>
                <%= f.text_field :email, placeholder: 'Email' %>
                <%= f.password_field :password, placeholder: 'Password' %>
                <%= f.submit 'Login/Register', class: 'btn btn-primary' %>
              <% end %>
            </div>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
